body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    background-image: url("../images/qbkls.png")
}

.mainContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    flex: 1 0 auto;
}

h1 {
    font-family: 'Merienda One', cursive;
    font-size: 70px;
    margin: 20px;
}

p {
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.directions {
    margin: 10px;
}

h2 {
    font-size: 40px;
    padding: 10px;
    margin: 20px;
}

h3 {
    display: inline;
}

.crystal-image {
    width: 200px;
}

@media screen and (max-width: 640px) {
    .crystal-image {
        width: 150px;
    }
}

footer {
    border-top: 8px solid plum;
    background-color: #666666;
    text-align: center;
    color: #fff;
    padding: 10px;
    flex-shrink: 0;
}